<!DOCTYPE html>
<html>
    <head>
        <title> My Chat app </title>
        <!-- Bootstrap -->
        <link href="" />
    </head>
    <body>
        <textarea id="msg" placeholder="Type something here">
        </textarea>
        <button id="send-msg">
            Send
        </button>
        <div>
            I received - <br />
            <div id="received">
            </div>

        </div>
        <!-- JS Scripts -->
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
        <!-- Socket io -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.6/socket.io.min.js"></script>

        <!-- Logic -->
        <script>
            function log(s){console.log(s);}
            $(document).ready(main);

            function main(){
                $conn_str = "http://" + document.domain + ":" + document.port;

                var socket = io.connect($conn_str);
                /*

                $("#send-msg").bind("click", function(){
                    log("Click!");
                    socket.emit("event", $("#msg").text());
                });
                */

                //This is on receive
                $("#received").text($received_text);
            }
        </script>

    </body>
</html>
