<!DOCTYPE html>
<html>
    <head>
        <title> My Chat app </title>
        <!-- Bootstrap -->
        <link href="" />
    </head>
    <body>
        <textarea id="msg" placeholder="Type something here">
        </textarea>
        <button id="send-msg">
            Send
        </button>
        <div>
            I received - <br />
            <div id="received">
            </div>

        </div>
        <!-- JS Scripts -->
        <!-- Jquery -->
        <!-- Logic -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.js"></script>
    <script>
            function log(s){console.log(s);}
            $(document).ready(main);

            function main(){
                namespace="/test";
                $conn_str = "http://" + document.domain + ":" + location.port + namespace;
                log($conn_str);

                var socket = io.connect($conn_str);
                log('Connected!');

                log("Again");
                socket.on("connect", function(){
                    log("tr");
                    socket.emit("event", "Earth calling mars...");
                });

                $("#send-msg").bind("click", function(){
                    log("Sending...");
                    socket.emit("event", $("#msg").val());
                });

                //socket.on("event", function(msg){log(msg);});
            }
        </script>

    </body>
</html>
